# EXPLORATORY DATA ANALYSIS

- The dataset used here is a cleaned version of the original dataset.
- The data cleaning and preparation process is in the file cleaningProcess.ipynb - [Click here to view data cleaning process](url-Gitlink to file in remote repo)

In [4]:
import pandas as pd

In [ ]:
df = pd.read_excel(r'C:\Users\GARETH TIROP\Desktop\Data Science and Analytics Docs\Cleaned_Ecommerce_Dataset.xlsx')

In [6]:
df

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,department_id,department,product_name
0,2425083,49125,1,2,18,0,17,1,0,13,pantry,baking ingredients
1,2425083,49125,1,2,18,0,91,2,0,16,dairy eggs,soy lactosefree
2,2425083,49125,1,2,18,0,36,3,0,16,dairy eggs,butter
3,2425083,49125,1,2,18,0,83,4,0,4,produce,fresh vegetables
4,2425083,49125,1,2,18,0,83,5,0,4,produce,fresh vegetables
...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,671875,33287,5,6,15,30,69,12,1,15,canned goods,soup broth bouillon
1048571,671875,33287,5,6,15,30,91,13,1,16,dairy eggs,soy lactosefree
1048572,671875,33287,5,6,15,30,61,14,1,19,snacks,cookies cakes
1048573,671875,33287,5,6,15,30,61,15,1,19,snacks,cookies cakes
1048574,419699,24832,4,0,10,2,84,1,1,16,dairy eggs,milk